a {
    text-decoration: none;
    color: #1c95a9;
}
.router-link-active{
    color: #ffdc34;
    text-decoration: none;
}

.header{
    height: 70px;
    background-color: #545c64;
}
#header_img{
    position: absolute;
    width: 220px;
    height: 69px;
    margin-left: 70px;
}

#header_nav{
    position: relative;
    right: 50px;
    margin-left: 380px;
    font-kerning: normal;
    font-size: 110%;
    font-weight: bold;
    height: 69px;
    text-align: right;
    color: #f6efef;
}
.el_footer {
    height: 190px;
    position: relative;
    background-color: #f3f0f0;
}

#el_footer_nav1{position: absolute;background-color: #f3f0f0;height:150px;width: 740px; }
#el_footer_nav2{position: relative;background-color: #f3f0f0;height:150px;width: 600px;margin-left: 800px; padding-top: 1px}
#el_footer_bottom {
    position: absolute;
    height: 40px;
    background-color: #d23243;
    color: white;
    text-align: center;
    margin-top: 150px;
    bottom: 0px;
}
hr{
    border-top:3px
    solid #ffffff;
    margin-top: 2px;
}


