
h2{
    position: absolute;
    width: 61px;
    font-size: 14px;
    height: 24px
}
.section{
    width: 1490px;
    background-image: url("@/static/picture/banner.png");
}
.category{

    width: 1000px;
    background-image: url("@/static/picture/banner.png");
    margin-left:280px;

}
.category_content{
    position: relative;
    width: 900px;
    margin-left: 70px;
    text-align: left;
}
